{% extends "pages/layout.html.twig" %}

{% block main %}
    <div class='main'>
        <div class='homeCard'>
            <img class='homeImg' src="img/2.png" alt="image pour l'onglet profil">
            <h3 class='titleHomeCard'>Mon profil</h3>
            <p class='descriptionHomeCard'>Retrouvez vos performances et un historique de vos entreinements passé ainsi que des stats personnalisées.</p>
        </div>
        <div class='homeCard'>
            <img class='homeImg' src="img/4.png" alt="image pour l'onglet planning">
            <h3 class='titleHomeCard'>Mon planning</h3>
            <p class='descriptionHomeCard'>Construisez et consultez vos planning d'entreinements</p>
        </div>
        <div class='homeCard'>
            <img class='homeImg' src="img/5.png" alt="image pour l'onglet exercice">
            <h3 class='titleHomeCard'>Exercices</h3>
            <p class='descriptionHomeCard'>Consulter une large gamme d'exercices que vous pourrez inclure dans votre planning</p>
        </div>
        <div class='homeCard'>
            <img class='homeImg' src="img/6.png" alt="image pour l'onglet communautés">
            <h3 class='titleHomeCard'>Communautés</h3>
            <p class='descriptionHomeCard'>Retrouvez les plannings et conseils proposé par la communautés</p>
        </div>
    </div>
{% endblock %}