<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href={{asset('styles/app.css')}}>
		<title>MyWorkoutPlan</title>

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<img id="visual" src="/img/wave-haikei.png" alt="image de fond d'ecran">
		<header class='navbar'>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% include "components/navbar_connected.html.twig" %}
			{% else %}
				{% include "components/navbar.html.twig" %}
			{% endif %}
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>
		{% include "components/footer.html.twig" %}
	</body>
</html>
